<h1>All Contact</h1>
<div id="view">
  <ul>
    <% @contacts.each do |contact| %>
      <a href="/contacts/<%= contact.id %>">
        <li><%= contact.first_name %> <%= contact.last_name %></li>
      </a>
    <% end %>
  </ul>
</div>