<h1>Delete a Contact</h1>

<ul>
  <% @contacts.all do |contact| %>
  <li><%= contact.first_name %> <%= contact.last_name %></li>
  <% end %>
</ul>

<div id="delete">
Which contact would you like to delete?
<form action="/contacts/:id" method="delete">
  Cust ID: <input type="text" name="id"><br>
  <input type="submit" name="Submit">
</form>
</div>