<h1>Welcome to this CRM</h1>
<p>Main Menu</p>
<ul>
  <li><a href="/add_contact">Add a Contact</a></li>
  <li><a href="/modify_contact">Modify a Contact</a></li>
  <li><a href="/contacts">Display All Contacts</a></li>
  <li><a href="/one_contact">Display One Contact</a></li>
  <li><a href="/contacts_by_attribute">Dispaly Contacts by Attribute</a></li>
  <li><a href="/delete_contact">Delete a Contact</a></li>
  <li><a href="/exit">Exit?</a></li>
</ul>