<!DOCTPYE html>

<<html>
  <head>
    <title></title>
  </head>
  <body>
    <header>
      <h4>Bullshit</h4>
    </header>
    <%= yield %>
    <footer>
      <p>Please don't 
        <a href="#">contact us</a>
      </p>
    </footer>
  </body>
</html>