<!DOCTPYE html>

<html>
  <head>
    <title>This is a CRM</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
  </head>
  <body>
    <header>
      <img src="/ant.jpg" alt="Ant"> 
      <h1>AdvCRM</h1>
      <h4 id="phone">555-555-5555</h4>
    </header>
    <hr>

    <div class='erb'>
      <%= yield %>
    </div>
        <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </nav>
    <footer>
      <p id="address">1 No Adrs St.</p>
      <p id="contact">Please don't 
        <a href="#">contact us</a>
      </p>
    </footer>
  </body>
</html>